/*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: normal;
}*/

body{
    font-family: 'Montserrat', sans-serif;
}

.conteiner{
    max-width: 1105px;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px auto;
}

.nav-li{
    display: inline-block;
}

.nav-li:not(:last-of-type){
    margin-right: 94px;
}

.nav-link{
    color: black;
    text-decoration: none;
}

.nav-link:hover{
    color: #FA4A0C;
}

.app{
    background-image: url('../img/br-rn1.png');
    color: white;
    text-align: center;
    padding: 80px 0 162px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 56px;
}

.app-pretitle{
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
}

.app-title{
    font-weight: bold;
    font-size: 58px;
    line-height: 80px;
    max-width: 650px;
    margin: 10px auto;
}

.app-text{
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 54px ;
}

.button{
    width: 236px;
    height: 68px;
    color: white;
    border-radius: 30px;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
}

.button:first-of-type{
    background: #FA4A0C;
    border: 1px solid #FA4A0C;
    margin-right: 67px;
}

.button:last-of-type{
    background: none;
    border: 1px solid white;
}

.text{
    font-weight: 600;
    font-size: 44px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 70px;
    }

.app2{
    background-image: url('../img/bg-rn2.png');
    color: white;
    text-align: center;
    padding: 146.9px 0 131.1px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.app2-title{
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    margin-bottom: 20px;
}

.app2-text{
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 77px;

}

.button2{
    color: white;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    border-radius: 10px;
}

.button2:first-of-type{
    width: 142px;
    height: 64px;
    background: #FA4A0C;
    border: 1px solid #FA4A0C;
    margin-right: 16px;
}

.button2:last-of-type{
    width: 173px;
    height: 60px;
    background: none;
    border: 1px solid white;
}

.mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-pretitle{
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #FA4A0C;
}

.mobile-title{
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    max-width: 560px;
}

.mobile-text{
    font-size: 24px;
    line-height: 38px;
    color: #737373;
    max-width: 400px;
}

.section{
    height: 600px;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}